@tailwind base;
@tailwind components;
@tailwind utilities;

.accent-green {
  background: linear-gradient(#4bce97, #006644);
}

.boardBar--background {
  background: #0000003d;
  backdrop-filter: blur(4px);
}

/* [data-theme='dark'] body {
  background-color: #1d2125 !important;
  color: #fff;
} */

/* Scrollbar CSS */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.ct-scroll::-webkit-scrollbar {
  height: 8px;
  background: #091e420f;
}

.ct-scroll::-webkit-scrollbar-thumb {
  background: #e8e2e2;
}

.show {
  display: block;
}

.active {
  background-color: #1c2b41 !important;
}

.edit {
  @apply hidden;
}

.editing .hide-on-edit {
  display: none !important;
}

.editing .edit {
  @apply block;
}

.checklist-item-state-complete .checklist-item-details-text {
  @apply text-slate-500 line-through !important;
}

.bg-green-wrapper {
  @apply bg-green-600;
}

.bg-green-wrapper .text-complete {
  @apply text-slate-900 font-semibold !important;
}
.opacity-active > div::before {
  background: #a69e9ea3;
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 3px;
  z-index: 0;
}

.bg-input-active {
  background-color: #579dff !important;
}

.active .icon-sidebar {
  color: #579dff !important;
}

.active .text-p-name {
  color: #579dff !important;
}

.card-item {
  box-shadow:
    0px 1px 1px rgba(9, 30, 66, 0.25),
    0px 0px 1px rgba(9, 30, 66, 0.31);
}

@layer base {
  li {
    @apply list-none;
  }

  span {
    color: #fff;
  }
}

.ant-popover {
  overflow-x: hidden;
  overflow-y: scroll;
}
